<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test name="Chrome">

        <parameter name="browser" value="headlesschrome"/>
        <classes>
            <class name="login.LoginTest">

                <methods>

                    <include name="testSuccessfulLogin"/>
                </methods>
               
            </class>
        </classes>
    </test>

    <test name="Edge">

        <parameter name="browser" value="headlessedge"/>
        <classes>
            <class name="login.LoginTest">

                <methods>
                    <include name="testInvalidUserName"></include>
                </methods>

            </class>
        </classes>
    </test>

    <test name="FireFox">

        <parameter name="browser" value="headlessfirefox"/>
        <classes>
            <class name="login.LoginTest">

                <methods>
                    <include name="testInvalidUserName"></include>
                </methods>

            </class>
        </classes>
    </test>


    

</suite>
